header,
footer {
    margin: 0;
    width: 100%;
    background-color: #8e8988;
}

body {
    background-color: rgb(227, 227, 227);
}

footer {
    position: fixed;
    bottom: 0;
}

main {
    margin-bottom: 160px;
    margin-top: 50px;
}

.sel {
    margin-right: 15px;
}

select {
    width: 100%;
}