header,
footer {
    margin: 0;
    width: 100%;
    background-color: #8e8988;
}

body {
    background-color: rgb(227, 227, 227);
}

header {
    height: 110px;
}

.main-class {
    margin-top: 140px;
}

.signature {
    text-align: right;
}

footer {
    position: fixed;
    bottom: 0;
}

table {
    border: 1px solid black;
}

th {
    border: 1px solid black;
    text-align: center;
}

td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

.red {
    border: 2px solid red;
    margin: 4px;
    display: inline-block;
    text-align: center;
}

.right {
    margin-bottom: 120px;
}